---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Página no encontrada">
    <main class="bg-white flex flex-col gap-4 p-4 mx-auto w-fit">
        <p class="text-stone-900 font-semibold">
            Página no encontrada
        </p>
        <a href="/" class="bg-red-700 text-white rounded-xl py-2 px-4">Volver a la página principal</a>
    </main>
</Layout>
