---
import Layout from "../layouts/Layout.astro"
import ProjectContainer from "@components/ProjectContainer.astro";
import { proyectos } from "@data/proyectos";

interface Project {
	title: string;
	description: string;
	technologies: string[];
	link: string;
	image: ImageMetadata;
}
---

<Layout title="Works | Santicue14">
    <section class="text-white">
        <h1 class="text-3xl font-bold mb-6">Some of my works</h1>
        <ul class="grid grid-cols-1 gap-4 max-w-full items-center mx-28">
            {
                proyectos.map((proyecto: Project, index: number) => (  // Asegúrate de que cada elemento es un proyecto
                    <ProjectContainer proyecto={proyecto} index={index}/>  // Aquí pasas el proyecto directamente
                </div>
                ))
            }
        </ul>
    </section>
</Layout>
