---
import Layout from "../layouts/Layout.astro"
import ProjectContainer from "@components/ProjectContainer.astro";
import { proyectos } from "@data/proyectos";

interface Project {
	title: string;
	description: string;
	technologies: string[];
	link: string;
	image: ImageMetadata;
}
---

<Layout title="Works | Santicue14">
    <section class="text-white mx-12">
        <h1 class="text-3xl font-bold mb-6">My works and projects</h1>
        <p class="text-lg  mb-6">Here you can see some of my last projects and a preview of them, this could be a video or photo depending on the privacy of the customer.</p>
        <ul class="grid grid-cols-1 gap-4 max-w-full items-center mx-4">
            {
                proyectos.map((proyecto: Project, index: number) => (  // Asegúrate de que cada elemento es un proyecto
                    <ProjectContainer proyecto={proyecto} index={index}/>  // Aquí pasas el proyecto directamente
                ))
            }
        </ul>
    </section>
</Layout>
