---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Desarrollo de aplicaciones web. Santiago Cuevas, desarrollador web. Páginas web adaptadas a tus necesidades!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/briefcase.png" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-gradient-to-br from-black to-slate-900 flex flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
